<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
   
    <title>Wod Generator Signup</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body class="text-center">
    <form action="/signup" method="POST" class="form-signin">
      <img class="mb-4" src="image/favicon.ico" alt="" width="72" height="72" />
      <h1 class="h3 mb-3 font-weight-normal">Sign up to Wod Generator</h1>

      <input type="text" name="firstName" class="form-control top" placeholder="First name" required autofocus/>
      <input type="text" name="lastName" class="form-control middle" placeholder="Last name" required/>
      <input type="text" name="gender" maxlength="1" class="form-control middle" placeholder="Gender M/F" required/>
      <input type="number" name="age" min="14" class="form-control middle" placeholder="Age" required/>
      
      <input type="email" name="email" class="form-control middle" placeholder="Email" required/>
      <input type="password" name="password" class="form-control bottom" placeholder="Password" required/>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign me up</button>
      
    </form>
  </body>
</html>
